/* Логотип */
.logo-link {
  text-decoration: none;
}
.logo-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-blue {
  color: #2196f3;
}
.logo-black {
  color: black;
}
.link-current {
  color: #2196f3;
}
/* E-mail */
.mailto {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
/* Телефон */
.tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.site-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
main {
  background-color: #ffffff;
}
.section-captain {
  background-color: #2f303a;
  width: 1600px;
}
footer {
  background-color: #2f303a;
  width: 1600px;
}
